
.root {
    -fx-background-color: #0d3667;
}

Label {
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-font-family: arial;
}

.blackWords {
    -fx-text-fill: black;
    -fx-font-family: monospace;
}

.whiteWords {
    -fx-font-family: monospace;
}

.caret {
    -fx-text-fill: black;
}

.h1 {
    -fx-font-size: 40;
}

.p {
    -fx-font-size: 15;
}

.axis-label {
    -fx-font-size: 10;
}

.axis {
    -fx-tick-label-fill: white;
}

.chart-series-line {
    -fx-stroke: #0d3667;
}

Button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: arial;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}